@model Model.Usuarios
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Nombre = ViewBag.Usuario;
}
<div class="row">
    <div class="col-sm-12 col-lg-6 col-xl-3">
        <div class="c-state-card" data-mh="state-cards">
            <div class="c-state-card__icon c-state-card__icon--info">
                <i class="fa fa-line-chart"></i>
            </div>
            <div class="c-state-card__content">
                <h5 class="c-state-card__number">
                    90
                    <span class="c-state-card__status u-bg-green">
                        <i class="fa fa-caret-up"></i>
                    </span>
                </h5>
                <p class="c-state-card__meta">Diagnosticos</p>
            </div>
        </div>
    </div><!-- // .col-md-3 -->
    <div class="col-sm-12 col-lg-6 col-xl-3">
        <div class="c-state-card" data-mh="state-cards">
            <div class="c-state-card__icon c-state-card__icon--fancy">
                <i class="fa fa-pie-chart"></i>
            </div>
            <div class="c-state-card__content">
                <h5 class="c-state-card__number">
                    70
                    <span class="c-state-card__status u-bg-green">
                        <i class="fa fa-caret-up"></i>
                    </span>
                </h5>
                <p class="c-state-card__meta">Citas</p>
            </div>
        </div>
    </div><!-- // .col-md-3 -->
    <div class="col-sm-12 col-lg-6 col-xl-3">
        <div class="c-state-card" data-mh="state-cards">
            <div class="c-state-card__icon c-state-card__icon--warning">
                <i class="fa fa-user"></i>
            </div>
            <div class="c-state-card__content">
                <h5 class="c-state-card__number">
                    93
                    <span class="c-state-card__status u-bg-red">
                        <i class="fa fa-caret-down"></i>
                    </span>
                </h5>
                <p class="c-state-card__meta">Pacientes</p>
            </div>
        </div>
    </div><!-- // .col-md-3 -->
    <div class="col-sm-12 col-lg-6 col-xl-3">
        <div class="c-state-card" data-mh="state-cards">
            <div class="c-state-card__icon c-state-card__icon--success">
                <i class="fa fa-bar-chart"></i>
            </div>
            <div class="c-state-card__content">
                <h5 class="c-state-card__number">
                    60
                    <span class="c-state-card__status u-bg-green">
                        <i class="fa fa-caret-up"></i>
                    </span>
                </h5>
                <p class="c-state-card__meta">Historias</p>
            </div>
        </div>
    </div><!-- // .col-md-3 -->
</div><!-- // .row -->
<!-- // .row -->


