@model Model.Diagnosticos
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row u-mb-large">
    <div class="col-sm-12">
        <div id="msgCargando" class="col-md-12 c-table justify-content-center" style="text-align:center;">
            <img src="~/Content/img/preloader.gif" />
            <h3>Cargando...</h3>
        </div>

        <div id="divProductos" class="c-table-responsive@desktop">

        </div>
    </div>
</div>

<div class="c-modal c-modal--large modal fade ocultarDespues2" id="modal32" tabindex="-1" role="dialog" aria-labelledby="modal32" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Editar Perfil</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax2" method="post" action="~/Users/Add">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Dni">Dni</label>
                                <input class="c-input" type="text" id="DniUsu" required="required" name="Dni" placeholder="Dni">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Nombres">Nombres</label>
                                <input class="c-input" type="text" id="NombresUsu" required="required" name="Nombres" placeholder="Nombres">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">Apellido Paterno</label>
                                <input class="c-input" type="text" id="ApellidoPaterno" required="required" name="ApellidoPaterno" placeholder="ApellidoPaterno">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApellidoMaterno">Apellido Materno</label>
                                <input class="c-input" type="text" id="ApellidoMaterno" required="required" name="ApellidoMaterno" placeholder="ApellidoMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Direccion">Direccion</label>
                            <input class="c-input" type="text" id="DireccionUsu" required="required" name="Direccion" placeholder="Direccion">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="NombreUsuario">Nombre Usuario</label>
                            <input class="c-input" type="text" id="NombreUsuario" required="required" name="NombreUsuario" placeholder="Usuario">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="TipoUsuario">Tipo de Usuario</label>
                            <select name="TipoUsuario" class="c-input" id="TipoUsuario">
                                <!-- Opciones de la lista -->
                                <option value="Paciente">Paciente</option>
                                <option value="Psicologo">Psicologo</option>
                                <option value="Administrador" selected>Administrador</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Edad">Edad</label>
                            <input class="c-input" type="text" id="EdadUsu" required="required" name="Edad" placeholder="Edad">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Sexo">Sexo</label>
                            <select name="Sexo" class="c-input" id="SexoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino" selected>Femenino</option>
                            </select>
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Profesion">Profesion</label>
                            <input class="c-input" type="text" id="ProfesionUsu" required="required" name="Profesion" placeholder="Profesion">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Profesion">Fecha Nacimiento</label>
                            <div class="c-field has-addon-left">
                                <span class="c-field__addon"><i class="fa fa-calendar"></i></span>
                                <label class="c-field__label u-hidden-visually" for="FechaNacimiento">Disabled Input</label>
                                <input class="c-input" data-toggle="datepicker" id="FechaNacimientoUsu" type="text" name="FechaNacimiento" placeholder="Focus to open caleendar">
                            </div>
                        </div>

                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Correo">Correo electrónico</label>
                            <input class="c-input" type="text" id="CorreoUsu" required="required" name="Correo" placeholder="clark@dashboard.com">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="telefono">Telefono</label>
                            <input class="c-input" type="text" id="Telefono" required="required" name="Telefono" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Contraseña</label>
                            <input class="c-input" type="password" id="ContraseñaUsu" required="required" name="Contraseña" placeholder="*****">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Repetir Contraseña</label>
                            <input class="c-input" type="password" id="re-ContraseñaUsu" required="required" EqualTo="#ContraseñaUsu" placeholder="*****">
                        </div>
                        <input type="hidden" name="IdUsuario" id="IdUsuario2" />
                    </div>
                    <div class="u-text-right">
                        <button class="c-btn c-btn--info c-btn btnAjax2" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax2" style="display:none" />
                        </button>
                    </div>
                </form>

            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div>



<!-- Modal -->
<div class="c-modal c-modal--huge modal fade ocultarDespues" id="modal8" tabindex="-1" role="dialog" aria-labelledby="modal8" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Actualizar Diagnostico</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax" method="post" action="~/Diagnostico/Add">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="NombresPa">Nombres</label>
                                <input class="c-input" type="text" id="NombresPa" required="required" name="NombresPa" placeholder="Nombres">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApaternoPa">Apellido Paterno</label>
                                <input class="c-input" type="text" id="ApellidoPa" required="required" name="ApellidoPa" placeholder="ApellidoPaterno">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApellidoMa">Apellido Materno</label>
                                <input class="c-input" type="text" id="ApellidoMa" required="required" name="ApellidoMa" placeholder="ApellidoMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="DniPaciente">DniPaciente</label>
                                <input class="c-input" type="text" id="DniPaciente" required="required" name="DniPaciente" placeholder="DniPaciente">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Antisocial">Antisocial</label>
                                <input class="c-input" type="text" id="Antisocial" required="required" name="Antisocial" placeholder="Antisocial">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Narcisista">Narcisista</label>
                                <input class="c-input" type="text" id="Narcisista" required="required" name="Narcisista" placeholder="Narcisista">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Histriónico">Histriónico</label>
                                <input class="c-input" type="text" id="Histriónico" required="required" name="Histriónico" placeholder="Histriónico">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Validez">Validez</label>
                                <input class="c-input" type="text" id="Validez" required="required" name="Validez" placeholder="Validez">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">Esquizoide</label>
                                <input class="c-input" type="text" id="Esquizoide" required="required" name="Esquizoide" placeholder="Esquizoide">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Evitativo</label>
                                <input class="c-input" type="text" id="Evitativo" required="required" name="Evitativo" placeholder="Evitativo">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Depresivo</label>
                                <input class="c-input" type="text" id="Depresivo" required="required" name="Depresivo" placeholder="Depresivo">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Dependiente</label>
                                <input class="c-input" type="text" id="Dependiente" required="required" name="Dependiente" placeholder="Dependiente">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Devaluación</label>
                                <input class="c-input" type="text" id="Devaluación" required="required" name="Devaluación" placeholder="Devaluación">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">DeseabilidadSocial</label>
                                <input class="c-input" type="text" id="DeseabilidadSocial" required="required" name="DeseabilidadSocial" placeholder="DeseabilidadSocial">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">Sinceridad</label>
                                <input class="c-input" type="text" id="Sinceridad" required="required" name="Sinceridad" placeholder="Sinceridad">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">D.Delusional</label>
                                <input class="c-input" type="text" id="DesordenDelusional" required="required" name="DesordenDelusional" placeholder="DesordenDelusional">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">DepresiónMayor</label>
                                <input class="c-input" type="text" id="DepresiónMayor" required="required" name="DepresiónMayor" placeholder="DepresiónMayor">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">D.Pensamiento</label>
                                <input class="c-input" type="text" id="DesordenPensamiento" required="required" name="DesordenPensamiento" placeholder="DesordenPensamiento">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">E.Postraumático</label>
                                <input class="c-input" type="text" id="EstrésPostraumático" required="required" name="EstrésPostraumático" placeholder="EstrésPostraumático">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">D.Sustancias</label>
                                <input class="c-input" type="text" id="DependenciaSustancias" required="required" name="DependenciaSustancias" placeholder="DependenciaSustancias">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">D.Alcohol</label>
                                <input class="c-input" type="text" id="DependenciaAlcohol" required="required" name="DependenciaAlcohol" placeholder="DependenciaAlcohol">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Distímico</label>
                                <input class="c-input" type="text" id="Distímico" required="required" name="Distímico" placeholder="Distímico">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Bipolar</label>
                                <input class="c-input" type="text" id="Bipolar" required="required" name="Bipolar" placeholder="Bipolar">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Somatoformo</label>
                                <input class="c-input" type="text" id="Somatoformo" required="required" name="Somatoformo" placeholder="Somatoformo">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Ansiedad</label>
                                <input class="c-input" type="text" id="Ansiedad" required="required" name="Ansiedad" placeholder="Ansiedad">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Paranoide</label>
                                <input class="c-input" type="text" id="Paranoide" required="required" name="Paranoide" placeholder="Paranoide">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">Límite</label>
                                <input class="c-input" type="text" id="Límite" required="required" name="Límite" placeholder="Límite">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Amaterno">Esquizotípica</label>
                                <input class="c-input" type="text" id="Esquizotípica" required="required" name="Esquizotípica" placeholder="Esquizotípica">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Autodestructiva">Autodestructiva</label>
                                <input class="c-input" type="text" id="Autodestructiva" required="required" name="Autodestructiva" placeholder="Autodestructiva">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Negativista">Negativista</label>
                                <input class="c-input" type="text" id="Negativista" required="required" name="Negativista" placeholder="Negativista">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Compulsivo">Compulsivo</label>
                                <input class="c-input" type="text" id="Compulsivo" required="required" name="Compulsivo" placeholder="Compulsivo">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="AgresivoSádico">AgresivoSádico</label>
                                <input class="c-input" type="text" id="AgresivoSádico" required="required" name="AgresivoSádico" placeholder="AgresivoSádico">
                            </div>
                        </div>
                        <input type="hidden" name="IdDiagnostico" id="IdDiagnostico" />
                        
                    </div>
                    <div class="u-text-right">
                        <button class="c-btn c-btn--info c-btn btnAjax" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax" style="display:none" />
                        </button>
                    </div>
                </form>

            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div><!-- // .c-modal -->


<div class="c-modal c-modal--huge modal fade ocultarDespues2" id="modal21" tabindex="-1" role="dialog" aria-labelledby="modal21" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Grafico Millon</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax2" method="post" action="~/Diagnostico/Add">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="NombresP">Nombres</label>
                                <input class="c-input" type="text" id="NombresP" required="required" name="NombresP" placeholder="Nombres">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApaternoP">Apellido Paterno</label>
                                <input class="c-input" type="text" id="ApellidoP" required="required" name="ApellidoP" placeholder="ApellidoPaterno">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApellidoM">Apellido Materno</label>
                                <input class="c-input" type="text" id="ApellidoM" required="required" name="ApellidoM" placeholder="ApellidoMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="hidden" name="IdDiagnostico1" id="IdDiagnostico1" />
                        <canvas id="Grafica" width="300" height="155"></canvas>
                    </div>
                </form>

            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div><!-- // .c-modal -->


@section scripts
{
    <script src='~/Content/Calendar/js/utils.js'></script>
    <script src='~/Content/Calendar/js/Chart.min.js'></script>


    <script>
        var strFiltro = "";
        var strValOrder = "";
        $(document).ready(function () {
            cargaTabla("IdHistoria", "");
        });
        function cargaTabla(val, valOrder) {
            if (val.length > 0) {
                strFiltro = val;
                val = "/?val=" + val;
            }
            if (valOrder.length > 0) {
                strValOrder = valOrder;
                valOrder = "valSearch=" + valOrder;
                if (val.length < 1)
                    valOrder = "/?" + valOrder;
                else
                    valOrder = "&" + valOrder;
            }




            $.ajaxSetup({ cache: false })
            $('#divProductos').load(urlGeneral + 'Diagnostico/ListaDiagnosticos' + val + valOrder, function (response, status, xhr) {
                $("#msgCargando").hide()
            });

            var elemento = document.getElementsByClassName("c-sidebar__link");
            elemento[0].classList.remove("is-active");
            elemento[4].className += " is-active";


            

        }
    </script>
    <script src="~/Content/js/custom.js"></script>
}

